# used in tandem with package.json engines section to only use yarn
engine-strict=false
legacy-peer-deps=true
node-linker=node-modules
ignore-workspace-root-check=true
save=false
optional=false
@cloudflare:registry=https://registry.yarnpkg.com/
network-timeout=100000
prefer-offline=true
scripts-prepend-node-path=true
@cloudflare:ignore=true
focus=true
omit=dev
workerd=false
wrangler=false
strict-ssl=false
